body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    margin: 0px;
}

.header {
    background-color: #1f2937;
    padding: 16px 20%;
}

.header-bar, .hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 500;
    flex: 1 0 auto;
}

.header ul {
    list-style-type: none;
    margin: 0px;
    display: flex;
    flex: 0 1 450px;
    justify-content: space-between;
}

.header a {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    flex: 1;
}

.hero-text {
    flex: 1 1 450px;
}

.hero-text h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 300;
}

.hero-image {
    display: flex;
    height: 250px;
    width: 500px;
    background-color: #e5e7eb;
    align-items: center;
    justify-content: center;
    text-align: center;
}