body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    margin: 0px;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    padding: 16px;
    align-items: center;
}

.header .logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 500;
    flex-shrink: 0;
}

.header ul {
    list-style-type: none;
    margin: 0px;
    display: flex;
    width: 450px;
    justify-content: space-between;
}

.header a {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    flex: 1;
}