body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    margin: 0px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.darkblue {
    background-color: #1f2937;
}

.header {
    margin: 16px;
    flex: 0 1 1000px;
}

.header-bar, .hero-container {
    display: flex;
    align-items: center;
    margin-bottom: 100px
}

.header .logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 500;
    flex: 0 1 auto;
}

.header ul {
    list-style: none;
    margin: 0px;
    margin-left: auto;
    display: flex;
    flex: 0 1 450px;
    justify-content: space-between;
}

.header a {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
}

.hero-text {
    flex: 0 1 450px;
}

.hero-text h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0px;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 300;
    margin: 0px;
}

.hero-image {
    margin-left: auto;
    display: flex;
    height: 250px;
    width: 500px;
    background-color: #55575b;
    color: #e5e7eb;
    align-items: center;
    justify-content: center;
    text-align: center;
}

button.sign-up {
    padding: 8px 16px;
    margin-top: 8px;
    border-radius: 8px;
}